<p id="notice"><%= notice %></p>

<p>
  <strong>Micropost:</strong>
  <%= @scaffold.Micropost %>
</p>

<p>
  <strong>Content:</strong>
  <%= @scaffold.content %>
</p>

<p>
  <strong>:</strong>
  <%= @scaffold. %>
</p>

<p>
  <strong>User:</strong>
  <%= @scaffold.user_id %>
</p>

<%= link_to 'Edit', edit_scaffold_path(@scaffold) %> |
<%= link_to 'Back', scaffolds_path %>
